@model (string Href, string Label, string Icon, bool Current)
@if (Model.Current)
{
  <a href="@Model.Href" aria-current="page">
    <ap-icon name="@Model.Icon" size="18" class="ap-icon cat-ico" />
    <span>@Model.Label</span>
  </a>
}
else
{
  <a href="@Model.Href">
    <ap-icon name="@Model.Icon" size="18" class="ap-icon cat-ico" />
    <span>@Model.Label</span>
  </a>
}
